<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="   
       http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       http://www.springframework.org/schema/aop   
       http://www.springframework.org/schema/aop/spring-aop.xsd   
       http://www.springframework.org/schema/context   
       http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

	<!-- 对象池配置 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${redis_pool_maxTotal}" />
		<property name="maxIdle" value="${redis_pool_maxIdle}" />
	</bean>

	<!-- jedis 对象工厂 -->
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="usePool" value="true" />
		<property name="poolConfig" ref="jedisPoolConfig" />
		<property name="hostName" value="${redis_uri}" />
		<property name="port" value="${redis_port}" /> 
		<property name="password" value="${redis_password}" /> 
	</bean>

	<!-- 模板类 -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="jedisConnectionFactory" />
		<property name="KeySerializer">
			<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"></bean>
		</property>
		<property name="ValueSerializer">
			<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"></bean>
		</property>
		<property name="HashKeySerializer">
			<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"></bean>
		</property>
		<property name="HashValueSerializer">
			<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"></bean>
		</property>
	</bean>

	<!-- 实现类 -->
	<bean id="redisStringServiceImpl" class="com.douxue.live.redis.impl.RedisStringServiceImpl">
		<!-- 默认使用GsonStringConverter，也可以注入其它实现类 -->
	</bean>

	<bean id="redisSeterviceImpl" class="com.douxue.live.redis.impl.RedisSetServiceImpl">
		<!-- 默认使用GsonStringConverter，也可以注入其它实现类 -->
	</bean>

	<bean id="redisSortedSeterviceImpl" class="com.douxue.live.redis.impl.RedisSortedSetServiceImpl">
		<!-- 默认使用GsonStringConverter，也可以注入其它实现类 -->
	</bean>

	<bean id="redisHashSeterviceImpl" class="com.douxue.live.redis.impl.RedisHashServiceImpl">
		<!-- 默认使用GsonStringConverter，也可以注入其它实现类 -->
	</bean>

</beans>